<div class="container">
  <h1 class="text-center">{{ title }}</h1>
  <form class="row g-3">
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        id="note"
        placeholder="Add Note"
      />
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary mb-3">Add</button>
    </div>
  </form>
  <ul class="list-group" *ngFor="let note of notes">
    <li class="list-group-item">
      {{ note.id }} {{ note.name }}
      <button
        type="button"
        class="btn btn-danger btn-sm"
        (click)="removeNote(note)"
      >
        X
      </button>
    </li>
  </ul>
</div>
