<div class="container">
  <h1 class="text-center">TO Do List</h1>
  <form class="row g-3">
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        id="note"
        placeholder="Add Note"
      />
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary mb-3">Add</button>
    </div>
  </form>
  <ul class="list-group">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
  </ul>
</div>
